[submodule "ctrlp.vim"]
    path = .vim/bundle/ctrlp.vim
    url = git@github.com:kien/ctrlp.vim.git
[submodule "vim-go"]
    path = .vim/bundle/vim-go
    url = git@github.com:fatih/vim-go.git
[submodule ".vim/bundle/vundle"]
	path = .vim/bundle/vundle
	url = git@github.com:gmarik/vundle.git
[submodule ".vim/bundle/indentLine"]
	path = .vim/bundle/indentLine
	url = git@github.com:Yggdroot/indentLine.git
